body{
	overflow-x:hidden;
	
}
#footer{
	
	width:100vw;
	background-color:#222831;
	color:#fff;
	
}
.footerBlocks{
	
	padding:10px 20px 20px 20px;
	
}
.footerHeading{
	font-size:20px;
	font-weight:500;
	text-align:center;
}
.subheading{
	line-height:1.5;
}
.subheading a{
	text-decoration:none;
}
.Address{
	color:#dddddd;
}

#infoBox{
	margin:auto 100px;
	padding:30px;
}
.editInfoBtn
{
		border-style:none;
     	background-color:#ec4646;
     	font-weight:600;
     	font-size:24px;
     	border-radius:5px;
     	color:white;
     	margin:10px auto;
}
#editInfo{
	
   	overflow:auto;
	position:absolute;
	top:50%;
	left:50%;
	-ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
   	border-style:solid;
   	border-width:2px;
    
}
#editInfo div
{
	
	background-color:#fff;
    padding:30px;
    
}
#editInfo div label{
	margin-left:5px;
}
#editInfo input,#editInfo button{
	margin:5px;
}
#editInfo #closeBtn{
	position:absolute;
	top:0;
	right:0;
}
#attendanceMain,#resultMain{
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-style:solid;
    border-width:2px;
    border-radius: 5px;
}
#attendanceMain form,#resultMain form{
    padding:20px;
}
#attendanceMain form select,#attendanceMain form input,#resultMain form select,#resultMain form input{
    width:200px;
    margin-bottom: 15px;
}
#attendanceMain form button,#resultMain form button{
    border-style:none;
    border-radius:10px;
    background-color: #12d1b1;
    color:#fff;
    padding:5px 20px;
}
.loggedin_details{
	position:absolute;
	top:25%;
	right:8%;
	
	list-style-type:none;
	line-height:0.5;
}
 .pageHeader
    {
    font-family:'Staatliches', cursive;
    font-size:50px;
    text-align:center;
    color:#fff;
    }
