<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>StudentManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>verify</servlet-name>
    <servlet-class>com.students.Controller.Verify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verify</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admission</servlet-name>
    <servlet-class>com.students.Controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admission</servlet-name>
    <url-pattern>/admissionForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkAdmin</servlet-name>
    <servlet-class>com.students.Controller.AdminCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkAdmin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewAdmissionDetails</servlet-name>
    <servlet-class>com.students.Controller.FetchAdmissionInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAdmissionDetails</servlet-name>
    <url-pattern>/viewCandidateInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>verifyCandidate</servlet-name>
    <servlet-class>com.students.Controller.VerifyCandidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verifyCandidate</servlet-name>
    <url-pattern>/candidateVerified</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTeacher</servlet-name>
    <servlet-class>com.students.Controller.AddTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacher</servlet-name>
    <url-pattern>/FacultyUpdated</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editInfo</servlet-name>
    <servlet-class>com.students.Controller.EditInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editInfo</servlet-name>
    <url-pattern>/InformationUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminFunctions</servlet-name>
    <servlet-class>com.students.Controller.AdminFunctions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFunctions</servlet-name>
    <url-pattern>/adminfunction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherFunction</servlet-name>
    <servlet-class>com.students.Controller.TeacherFunctions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherFunction</servlet-name>
    <url-pattern>/teacherfunction</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ResultUpload</servlet-name>
    <servlet-class>com.students.Controller.ResultUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultUpload</servlet-name>
    <url-pattern>/result</url-pattern>
  </servlet-mapping>
</web-app>